<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Has solicitado cambiar tu contraseña.</p>
        <p> Por favor, clicka en el enlace de aquí abajo para realizar la acción</p>
        <a href="http://{{link}}">Cambiar Contraseña</a>
        <p>Si no has solicitado cambiar tu contraseña, ignora este mensaje.</p>
    </body>
</html>